* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    outline: none;
    box-sizing: border-box;
}

.nav-bar {
  width: 100%;
  background-color: #3b3f3f;
  list-style-type: none;
  height: 50px;
  transition: all 0.2s;
  border-bottom: 5px solid #C75575;
    }

.nav-items{
    float: right;

}

.nav-links{
    display: inline-block;
    color: #fff;
    text-align: center;
    position: relative;
    padding: 13px 10px;
    text-decoration: none;
}

.nav-links:hover{
    text-decoration: none;
    background-color: #a7a7a7;
    color: #fff;
}

.footer {
    border-top: 1px solid #c75575;
    width: 100%;
    height: 50px;
    background: #3b3f3f;
    color: #fff;
    padding: 25px;
    font-size: 13px;
}

/* styles of index template*/
.container {
    background-color: initial;
    height: 45em;
    padding-top: 60px;
}

.post-info {
    border: 1px solid gainsboro;
    background-color: #fdf3f6;
    width: 650px;
    height: 340px;
    margin-left: 80px;
}

.post-h2 {
    font-size: x-large;
    font-family: sans-serif;
    text-align: center;
    padding: 10px 0px 27px 0px
}

.publish-button {
	  text-decoration: none;
    color: #fff;
    background-color: #c75575;
    border-radius: 4px;
    border: 1px solid #c75575;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 18px;
    padding: 14px 27px;
    text-decoration: none;
    margin-left: 205;
    margin-top: 30;

}

.publish-button:hover {
  background-color: #C75579;
  color: #fff;
  border: 1px solid gainsboro;
  text-shadow: 0px 1px 0px #00000
}

.publish-button:active {
	  position: relative;
	  top: 1px;
}

/* styles of confirm_quote template*/

.wrapper{
  display: grid;
  grid-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 215px 217px;
  margin-left: 80px;
  margin-bottom: 9.8vw;
}

.display-img{
  /border: 1px solid red;
  position: relative;
  grid-column: 1/span 1;
  min-height: 480px;
  z-index: 2;
}

.post-img {
  //border-bottom: 2px solid gainsboro;
  width: 100%;
}

.try-again, .publish {
  position: absolute;
  margin-top: 1em;
  text-decoration: none;
  color: #fff;
  font-size: 1.2vw;
  border-radius: 6px;
  background-color: #c75575;
  padding: 12px 23px 12px 23px;
  }

.publish{
  margin-left: 13em;
}

.spinner{
  position: absolute;
  z-index: 1;
  margin-left: 29vw;
  margin-top: 16vw;
  border: 5px solid #c75579;
  border-bottom: 5px solid #e2e8ec;
  border-top: 6px solid #e2e8ec;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

.demo-img {
  width: 100%;
  height: 160px;
  padding: 10px;
}

.app-title {
  padding: 5px;
  font-family: Helvetica;
  font-size: 1.2vw;
}


/* receive_fb_token */

.loader {
  margin: auto;
  margin-top: 90px;
  border: 6px solid #c75579;
  border-top: 6px solid #e2e8ec;
  border-bottom: 6px solid #e2e8ec;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader2 {
  border: 5px solid #c75579;
  margin-top: 14px;
  margin-left: 14px;
  border-bottom: 5px solid #e2e8ec;
  border-top: 6px solid #e2e8ec;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

.loader-text {
  text-align: center;
  padding-top: 50px;
}

/* flash messages */

.flashes {
  background-color: #9df1bc;
  border-radius: 12px;
  width: 60%;
  height: 6%;
  #border: 1px solid gainsboro;
  margin: auto;
  margin-top: 30px;
  padding: 8px;
}
.flashes, .message{
  -moz-animation: cssAnimation 0s ease-in 5s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 5s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 5s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes cssAnimation {
  to {
    width:0;
    height:0;
    padding: 0;
    margin-top: 0;
    overflow:hidden;
  }
}
@-webkit-keyframes cssAnimation {
  to {
    width:0;
    height:0;
    paddig: 0;
    margin-top: 0;
    visibility:hidden;
  }
}
.message{
  text-align: center;
  list-style: none;
}
/* style of success template */

.quote-img {
  width: 800px;
  height: 450px;
  margin: auto;
  margin-bottom: 15px;
  border: 1px solid gainsboro;
}
.on-fb-img {
  width: 100%;
}
.quote-again{
  text-decoration: none;
  color: #fff;
  border: 1px solid gainsboro;
  border-radius: 5px;
  background-color: #c75575;
  padding: 9px 20px 9px 20px;

}
.fb-link{
  margin-left: 238px;
}

/* app card*/
.button-link {
  text-decoration: none;
  color: #3b3f3f;
}

.demo-img {
  width: 100%;
  height: 160px;
  padding: 9px;
}

.app-title {
  padding: 5px;
  font-family: Helvetica;
  font-size: 1.2vw;
}

.app-description {
  font-family: Helvetica;
  font-size: 1.3vw;
  padding: 5px;
}

.content.data {
  border: 1px solid gainsboro;
  border-radius: 5px;
}

.person{
  grid-column: 2;
  grid-row: 1;
  margin-right: 10px;
 }

.wwe {
  grid-column: 2;
  grid-row: 2;
  margin-right: 10px;
}

/* styles for tablets */
@media screen and (min-width: 700px)
and (max-width: 888px) {
   .container {
     padding-top: 20px;
     height: 55em;
   }

  .wrapper{
    position: relative;
    grid-gap: 0px;
    grid-column-gap: 10px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 485px 225px;
    grid-row-gap: 5vw;
    margin-left: 3em;
  }

  .display-img{
    width: 90vw;
    grid-column: 1/span 2;
  }

  .publish{
   margin-left: 17vw;
  }

  .demo-img {
    height: 178px;
  }

  .person{
    grid-column: 2;
    grid-row: 2;
    width: 45vw;
  }

  .wwe {
    grid-column: 1;
    grid-row: 2;
    width: 46vw;
    margin-right: 0px;
  }

  .spinner {
    margin-left: 42vw;
    margin-top: 25vw;
  }
}

/* styles for tablets 2.5 */
@media screen and (min-width: 510px)
and (max-width: 630px) {
  .container {
    padding-top: 20px;
    height: 63em;
  }

  .wrapper {
    position: relative;
    grid-gap: 0px;
    grid-row-gap: 0px;
    grid-column-gap: 0px;
    grid-template-columns: 1fr;
    grid-template-rows: 360px 213px 213px;
    grid-row-gap: 3em;
    margin-left: 3em;

  }

  .display-img {
    width: 90vw;
    grid-column: 1/span 2;
  }

  .try-again, .publish {
    margin-top: 0.3em;
    font-size: 2.2vw;
  }

  .publish {
     margin-left: 30vw;
  }

  .app-title {
      font-size: 2.2vw;
  }

  .app-description {
    font-size: 2.3vw;
  }

  .person {
    grid-column: 1;
    grid-row: 2;
    width: 65vw;
    margin-left: 4.2em;
  }

  .wwe{
  grid-column: 1;
  grid-row: 3;
  width: 65vw;
  margin-right: 0px;
  margin-left: 4.2em;
  }

  .spinner {
    margin-left: 41vw;
    margin-top: 24vw;
  }

}

/* styles for tablets 2 */
@media screen and (min-width: 629px)
and (max-width: 701px) {
  .container {
    padding-top: 20px;
    height: 65em;
  }
  .wrapper{
    position: relative;
    grid-gap: 0px;
    grid-column-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 396px 240px 240px;
    grid-row-gap: 3em;
    margin-left: 3em;
  }

  .display-img{
    width: 90vw;
    grid-column: 1/span 2;
  }

  .try-again, .publish {
    font-size: 1.8vw;
  }

  .publish{
    margin-left: 24.5vw;
  }

  .demo-img {
    height: 180px;
  }

  .app-title {
    font-size: 2.5vw;
  }

  .app-description {
    font-size: 2.4vw;
  }

  .person{
    grid-column: 1;
    grid-row: 2;
    width: 65vw;
    margin-right: 10px;
    margin-left: 4.2em;
  }

  .wwe {
    grid-column: 1;
    grid-row: 3;
    width: 65vw;
    margin-right: 0px;
    margin-left: 4.2em;
  }
  .spinner {
    margin-left: 41vw;
    margin-top: 24vw;
  }
}

/* styles for tablets 3 */
@media screen and (min-width: 487px)
and (max-width: 509px) {
  /* styles of index template*/
  .container {
    padding-top: 20px;
    height: 53em;
  }

  .wrapper{
    position: relative;
    grid-gap: 0px;
    grid-column-gap: 0px;
    grid-column-gap: 0px;
    grid-template-columns: 1fr;
    grid-template-rows: 303px 188px 188px;
    grid-row-gap: 2em;
    margin-left: 2em;
  }

  .display-img {
    grid-column: 1/span 1;
    width: 85vw;
  }

  .demo-img {
    width: 100%;
    height: 140px;
    padding: 10px;
  }

  .try-again, .publish {
    margin-top: 1.3em;
    font-size: 2.2vw;
  }

  .publish {
    margin-left: 30vw;
  }

  .app-title {
    font-size: 2.2vw;
  }

  .app-description {
    font-size: 2.3vw;
  }

  .person {
    grid-column: 1;
    grid-row: 2;
    width: 70vw;
    margin-right: 10px;
    margin-left: 3em;
  }
  .wwe{
    grid-column: 1;
    grid-row: 3;
    width: 70vw;
    margin-right: 0px;
    margin-left: 3em;
  }
  .spinner {
    margin-left: 41vw;
    margin-top: 24vw;
  }
}


/* styles for mobiles*/
@media screen and (min-width: 401px)
and (max-width: 488px) {
  .container {
    background-color: initial;
    padding-top: 5px;
    height: 58em;
  }
   .wrapper{
     grid-gap: 0px;
     grid-row-gap: 0px;
     margin-left: 5px;
     grid-template-rows: 360px 202px 202px;
     grid-template-columns: 1fr;
     grid-row-gap: 0.5em;
     margin-bottom: 5vw;
  }

  .display-img{
    width: 98vw;
    grid-column: 1/span 2;
  }

  .try-again, .publish {
    margin-top: 0.4em;
    font-size: 2.5vw;
    border-radius: 6px;
    padding: 2vw 35vw 2vw 37vw;
    width: 100%;
  }

  .publish{
    margin-left: 0px;
    margin-top: 3.4em;
  }

  .demo-img {
    height: 151px;
  }

  .spinner {
    margin-left: 45vw;
    margin-top: 25vw;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
  }

  .app-title {
    font-size: 3vw;
  }

  .app-description {
     font-size: 2.5vw;
  }

  .person{
    grid-column: 1;
    grid-row: 2;
    width: 75vw;
    margin-left: 3em;
  }

  .wwe{
    grid-column: 1;
    grid-row: 3;
    width: 75vw;
    margin-right: 0px;
    margin-left: 3em;
  }
}

/* styles for mobiles-2*/
@media screen and (min-width: 200px)
and (max-width: 400px) {
  .container {
    background-color: initial;
    padding-top: 5px;
    height: 58em;
  }
   .wrapper{
     grid-gap: 0px;
     grid-row-gap: 0px;
     grid-row-gap: 0px;
     margin-left: 5px;
     grid-template-rows: 265px 192px 192px;
     grid-template-columns: 1fr;
     grid-row-gap: 1.5em;
     margin-bottom: 5vw;
  }

  .display-img{
    width: 98vw;
    grid-column: 1/span 2;
  }

  .try-again, .publish {
    margin-top: 0.4em;
    font-size: 2.5vw;
    border-radius: 6px;
    padding: 2vw 35vw 2vw 37vw;
    width: 100%;
  }

  .publish{
    margin-left: 0px;
    margin-top: 3.4em;
  }

  .demo-img {
    height: 151px;
  }

  .spinner {
    margin-left: 45vw;
    margin-top: 25vw;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
  }

  .app-title {
    font-size: 3vw;
  }

  .app-description {
     font-size: 2.5vw;
  }

  .person{
    grid-column: 1;
    grid-row: 2;
    width: 75vw;
    margin-left: 3em;
  }

  .wwe {
    grid-column: 1;
    grid-row: 3;
    width: 75vw;
    margin-right: 0px;
    margin-left: 3em;
  }
}
