{% extends "layout.html" %}
{% block container %}

<div class="container">
    <div class="post-info">
        <img class="post-img" src={{'/static/sample.jpg'}}  alt="Your post look like">
        <h2 class="post-h2">
            Create a quote that meatch to your personality
        </h2>
        <p class="post-info-txt"> This is how your post look like when you poat on facebook
        </p>
    </div>
    <a class="button-link" href="{{login_url}}">
        <button class="publish-button">publish</button>
    </a>
</div>
{% endblock %}
