{% extends "layout.html" %}
{% from "app_card.html" import app_card %}

{% block container %}
{{ app_card(l='/' ,link=links.personality, title="Peronality Quotes", description="Create a quote that defines your personality", img="static/personality.jpg") }}

{{ app_card(l='/', link=links.wwe, title="WWE Match Maker", description="Find out which wwe wrestler wanna fight with you", img="static/wwe.jpg") }}

{{ app_card(l='/', link=links.qualities, title="Good Qualities", description="Find out what kind of qualities do you possess", img="static/good.jpg") }}

{% endblock %}
