{% extends "personality_quote/layout.html" %}
{%block container %}

{% from "app_card.html" import app_card %}

{{ app_card(link='/match_maker/confirm-pic', title="WWE Match Maker", description="Find out which wwe wrestler wanna fight with you", img="/static/wwe.jpg") }}


<div class='display-img'>
  <div class='spinner' style='display:none'></div>
  <div class ='hidden'>
    <img class="post-img" src={{'static/tem/{}.jpg?{}'.format(user_id, random_str)}}  alt="Your post look like">
  </div>
</div>
<a class='try-again again' href="/personality-quote/confirm-quote?post_image=no">Create another one</a>
<a class='publish' href="/personality-quote/confirm-quote?post_image=yes">Publish on Facebook</a>

<script>

 document.querySelector('.try-again').onclick = function fun() {
   document.querySelector('.hidden').style.display ='none';
   document.querySelector('.spinner').style.display = '';
 };
 document.querySelector('.publish').onclick = function fun() {
   document.querySelector('.hidden').style.display ='none';
   document.querySelector('.spinner').style.display = '';
 };
</script>
{% endblock %}
